Source: acme.sh
Maintainer: Liquify Builds <builds@liquify.ca>
Section: misc
Priority: optional

Package: acme.sh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An ACME protocol client written purely in Shell (Unix shell) language.
 Fully ACME protocol implementation.
 Simple, powerful and very easy to use. You only need 3 minutes to learn.
 Bash, dash and sh compatible.
 Simplest shell script for Let's Encrypt free certificate client.
 Purely written in Shell with no dependencies on python or Let's Encrypt official client.
 Just one script, to issue, renew and install your certificates automatically.
 DOES NOT require root/sudoer access.
 